<!-- 选缴订单页 optionalOrder  -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选缴订单</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <script src="javascripts/optionalOrder.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script> -->
</head>

<body>
    <div class="col-12">
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div class="menu">
        <!-- class选择器 -->
        <div class="nav">
            <ul>
                <!-- ul标签 -->
                <li><a href="/home">首页</a></li> <!-- li标签 -->
                <li><a href="/paymentOrder" style="background-color:rgb(52, 152,219)">缴费订单</a></li>
                <li><a href="/orderRecord">订单记录</a></li>
                <li><a href="/scholarshipRecord">奖学金发放信息</a></li>
                <li class="stuname" >欢迎您：<font color="lightblue"><%= studentName%></font> 同学</li>
                <li style="float:right"><a href="/loginOut"><img class="loginout_picture" src="images/home/Out.png" alt="图片加载失败">注销登录</a></li>
            </ul>
        </div>
    </div>
    <div>
        <table class="mesage_table">
            <tr class="mesage_table">
                <!--标题及密码修改-->
                <td class="mesage">
                    <!--标题-->
                    当前可选缴费项目清单<br>
                </td>
                <td id="please">如有其他缴费需求，请联系您的教务老师！</td>
            </tr>
            <tr>
                <td><img class="line_picture" src="images/home/line.png" alt="图片加载失败"></td>
            </tr>
            <% if(result.length == 0){ %>
            <tr class="mesage_table">
                <td class="mesage" style="color: rebeccapurple;">
                    暂时没有选缴项目哦~<br>
                </td>
            </tr>
        </table>
    </div>
    <% }else{ %>
    </table>
    </div>
    <!-- <form action="/" name="ordered"> -->
    <table class="order_table" name="keyPassage"style="margin-bottom: 5px;">
        <thead>
            <tr>
                <th>序号</th>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>商品属性1</th>
                <th>商品属性2</th>
                <th>商品属性3</th>
                <th>单价</th>
                <th>商户名称</th>
                <th>数量</th>
                <th>勾选框</th>
            </tr>
        </thead>
        <% for(var i = 0; i < result.length; i++){ %>
        <tr id='<%= i %>'>
            <td><%= i+1 %></td>
            <td style="color:lightsteelblue;"><%= result[i].商品编号 %></td>
            <td><%= result[i].商品名称 %></td>
            <td><%= result[i].属性1 %></td>
            <td><%= result[i].属性2 %></td>
            <td><%= result[i].属性3 %></td>
            <td><%= result[i].商品单价 %></td>
            <td style="color: lightsteelblue;"><%= result[i].商户名称 %></td>
            <td>
                <select name="quantity" id="<%= 'select' + i %>">
                    <option selected="selected" value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select><br>
            </td>
            <td><input type="checkbox" /></td>

        </tr> <% } %>

    </table>
    <!-- </form> -->
    <% } %>
    <div id="即时订单总额">
        未缴选缴订单总额：<%= optionalAmount %>元
    </div>
    <div>
        <!-- <a href="/orderConfirm"><button class="确认添加" onclick="checkOptions()">确认添加</button></a> -->
        <button class="确认添加" onclick="checkOptions()" style="margin-bottom: 6px;">确认添加</button>
    </div>
    <script>
        function goToOC() {
            // 以下为获取已经在购物车里的商品id
            var allData = sessionStorage.valueOf(); //获得所有sessionStorage数据，为一个普通js对象
            // console.log(allData);
            // console.log(typeof (allData));
            var jsonAllData = JSON.stringify(allData); //普通object转换为JSON字符串
            var jsonAllDataObj = JSON.parse(jsonAllData); //由JSON字符串转换为JSON对象
            // console.log(jsonAllDataObj);
            // console.log(typeof (jsonAllDataObj));
            var oldKey = Object.keys(jsonAllDataObj);
            console.log("jsonAllDataObj.keys()", oldKey);
            var oldKeyLength = 0;
            for (var item in oldKey) {
                oldKeyLength++;
            }
            console.log("oldKeyLength:", oldKeyLength);
            if(oldKeyLength == 0){
                alert("还没有已添加的商品哦！")
            }else{
                for (var j = 0; j < oldKeyLength; j++) {
                if (j == 0) {
                    keys = "keys[]=" + oldKey[j];
                } else {
                    keys += "&" + "keys[]=" + oldKey[j];
                }
                console.log(keys);
            }
            // var length = keys.length - 1;
    		// keys = keys.substr(0, length);
            location.href = '/orderConfirm?' + keys;
            }
            
        }
    </script>
    <div>
       <button class="确认添加" onclick="goToOC()">查看已添加</button>
    </div>
    <div id="lsx">
        版权所有-©苏州大学数学科学学院校级大创项目组 2020
    </div>
</body>

</html>