<!-- 支付方式页 paymentMethod  -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>支付方式</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="javascripts/paymentMethod.js"></script>
</head>

<body>
    <div>
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div class="menu">
        <!-- class选择器 -->
        <div class="nav">
            <ul>
                <!-- ul标签 -->
                <li><a href="/home">首页</a></li> <!-- li标签 -->
                <li><a href="/paymentOrder">缴费订单</a></li>
                <li><a href="/orderRecord">订单记录</a></li>
                <li><a href="/scholarshipRecord">奖学金发放信息</a></li>
                <li class="stuname">欢迎您：<font color="lightblue"><%= studentName%></font> 同学</li>
                <li style="float:right"><a href="/loginOut"><img class="loginout_picture" src="images/home/Out.png"
                            alt="图片加载失败">注销登录</a></li>
            </ul>
        </div>
    </div>

    <div class="payment_table">
        <table>
            <tr>
                <td>
                    <p class="payment1">&#12288 支付方式 &#12288</p>
                </td>
                <td>
                    <p class="payment2">&#12288 支付 &#12288</p>
                </td>
                <td>
                    <p class="payment2">&#12288 支付结果 &#12288</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="successSubmit_table">
        <table style="padding-top: 15px;font-size: 14px;">
            <tr>
                <td>
                    <img class="submitSucPic" src="images/支付方式/submitSuccess.png" alt="图像加载失败">
                </td>
                <td style="font-size: large;color: forestgreen;float: left;padding-top: 10px;">
                    <b><%= Data.Text %></b>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    订单号：<%= Data.OrderNo %>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="float: left;">
                    应付金额：<font style="color: orangered;"><%= Data.OrderAmount %></font> 元
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="color: red;">支付倒计时：<font id="countDown"></font>
                </td>
                <td></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="display: none;">
                    <font id="seconds"> <%= Data.CountDoun %></font>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size: 11px;">交易单号：<%= Data.OrderAccount %></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td id="creatTime" style="font-size: 11px;">订单创建时间：<%= Data.OrderCreatTime %></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td id="limitTime" style="font-size: 11px;">订单支付截止时间：<%= Data.OrderLimitTime %></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="selectPayway_table">
        请选择支付方式：<br><br>
        <!-- <input type="radio" id="radio-1" name="radio-1-set" class="regular-radio" onclick="changePay(1)" checked/> -->

        <input type="radio" id="radio-1" name="radio-1-set" class="regular-radio" onclick="changePay(1)" checked />
        <img class="insert" src="images/支付方式/微信.png" alt="图像加载失败">微信支付
        <input type="radio" id="radio-2" name="radio-1-set" class="regular-radio" onclick="changePay(2)" />
        <img class="insert" src="images/支付方式/支付宝.png" alt="图像加载失败">支付宝支付
        <input type="radio" id="radio-3" name="radio-1-set" class="regular-radio" onclick="changePay(3)" />
        <img class="insert" src="images/支付方式/银联.png" alt="图像加载失败">银联支付
    </div>
    <div class="银联" id="微信">
        扫描微信付款二维码进行支付:<br>
        <img class="insertBig" src="images/支付方式/weixinPay.jpg" alt="图像加载失败">
    </div>
    <div class="银联" id="支付宝" style="display: none;">
        扫描支付宝付款二维码进行支付:<br>
        <img class="insertBig" src="images/支付方式/zhifubaoPay.png" alt="图像加载失败">
    </div>
    <div class="银联" id="银联" style="display: none;">
        选择银行进行支付<br>
        <input type="radio" id="radio1" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/招商银行.jpg" alt="图像加载失败">招商银行
        <input type="radio" id="radio2" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/工商银行.png" alt="图像加载失败">工商银行
        <input type="radio" id="radio3" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/建设银行.jpg" alt="图像加载失败">建设银行
        <input type="radio" id="radio4" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/农业银行.jpg" alt="图像加载失败">农业银行<br>
        <input type="radio" id="radio5" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/中国银行.png" alt="图像加载失败">中国银行
        <input type="radio" id="radio6" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/北京银行.jpg" alt="图像加载失败">北京银行
        <input type="radio" id="radio7" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/光大银行.png" alt="图像加载失败">光大银行
        <input type="radio" id="radio8" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/交通银行.jpg" alt="图像加载失败">交通银行 <br>
        <input type="radio" id="radio9" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/民生银行.png" alt="图像加载失败">民生银行
        <input type="radio" id="radio10" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/中信银行.jpg" alt="图像加载失败">中信银行
        <input type="radio" id="radio11" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/平安银行.jpg" alt="图像加载失败">平安银行
        <input type="radio" id="radio12" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/邮政银行.png" alt="图像加载失败">邮政银行<br>
        <input type="radio" id="radio13" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/南京银行.jpg" alt="图像加载失败">南京银行
        <input type="radio" id="radio14" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/浦发银行.jpg" alt="图像加载失败">浦发银行
        <input type="radio" id="radio15" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/华夏银行.jpg" alt="图像加载失败">华夏银行
        <input type="radio" id="radio16" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/东亚银行.png" alt="图像加载失败">东亚银行<br>
        <input type="radio" id="radio17" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/广发银行.png" alt="图像加载失败">广发银行
        <input type="radio" id="radio18" name="radio-set" class="regular-radio" />
        <img class="insert" src="images/支付方式/宁波银行.jpg" alt="图像加载失败">宁波银行
    </div>
    <div>
        <!-- <a href="/paymentConfirmation?orderNo='<%= Data.OrderNo %>'" > -->
        <button class="支付" style="margin-bottom: 40px;" onclick="gotopay()">支付</button>
        <!-- </a> -->
    </div>
    <div>

    </div>
    <div id="lsx">
        版权所有-©苏州大学数学科学学院校级大创项目组 2020
    </div>
</body>

</html>
<script>
    var OrderNo = "<%= Data.OrderNo %>";
    function gotopay() {
        console.log(OrderNo);
        // $.get("/ajaxTest", function (data, status) {
        //     alert("Data: " + data + "\n nStatus: " + status);
        // })
        var amount = '<%= Data.OrderAmount %>';
        amount = parseInt(amount);
        $.post("/ajaxTest",{tradeID:OrderNo,sum:amount},function (data, status) {
            // alert("Data: " + data + "\n nStatus: " + status);
            console.log(data);
            var studentName=data.studentName;
            var tradeID=data.tradeID;
            var sum=data.sum;
            var transactionID=data.transactionID;
            var urlStr = "";
            urlStr += "studentName="+studentName+"&tradeID="+tradeID+"&sum="+sum+"&transactionID="+transactionID;
            console.log(urlStr);
            location.href = "/payPage?"+urlStr;
        })
    }
</script>