<!-- 必缴订单页 requiredOrder  -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>必缴订单</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <!--<script src="javascript/首页.js"></script>-->
</head>

<body>
    <div>
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div class="menu">
        <div class="nav">
            <ul>
                <li><a href="/home">首页</a></li>
                <li><a href="/paymentOrder" style="background-color:rgb(52, 152,219)">缴费订单</a></li>
                <li><a href="/orderRecord">订单记录</a></li>
            </ul>
        </div>
    </div>
    <div>
        <table class="mesage_table">
            <tr class="mesage_table">
                <td class="mesage">
                    必缴订单查看页<br>
                </td>
                <td id="please">必缴订单由您的教务老师提交，请您查阅后至“<b>订单记录</b>”页面支付必缴订单！</td>
            </tr>
            <tr>
                <td><img class="line_picture" src="images/home/line.png" alt="图片加载失败"></td>
            </tr>
            <% if(result.length == 0){ %>
            <tr class="mesage_table">
                <td class="mesage" style="color: rebeccapurple;">
                    暂时没有必缴项目哦~<br>
                </td>
            </tr>
        </table>
    </div>
    <% }else{ %>
    </table>
    </div>


    <table class="order_table" name="keyPassage">
        <thead>
            <tr>
                <th>子订单编号</th>
                <th>订单编号</th>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>商品属性1</th>
                <th>商品属性2</th>
                <th>商品属性3</th>
                <th>数量</th>
                <th>单价(元)</th>
                <th>子订单总额(元)</th>
                <th>商户名称</th>
            </tr>
        </thead>


        <% for(var i = 0; i < result.length; i++){ %>
        <tr>
            <td style="color: lightsteelblue;"><%= result[i].子订单编号 %></td>
            <td><%= result[i].订单编号 %></td>
            <td style="color: lightsteelblue;"><%= result[i].商品编号 %></td>
            <td><%= result[i].商品名称 %></td>
            <td><%= result[i].属性1 %></td>
            <td><%= result[i].属性2 %></td>
            <td><%= result[i].属性3 %></td>
            <td><%= result[i].商品数量 %></td>
            <td><%= result[i].商品单价 %></td>
            <td><%= result[i].子订单总额 %></td>
            <td style="color: lightsteelblue;"><%= result[i].商户名称 %></td>
        </tr> <% } %>

    </table>
    <% } %>
    <div id="即时订单总额">
        待缴必缴订单总额：<%= requireAmount %>元
    </div>
    <div>
        <a href="/paymentOrder"><button class="必缴返回">返回</button></a>
    </div>
</body>

</html>