<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>供应商管理页</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <script src="javascripts/down&upData.js"></script>
    <script src="javascripts/TcorpInfoAdmin.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>

<body>
    <div class="col-12">
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div>
        <ul class="Tnav">
            <li class="teaname">
                欢迎您：<font color="lightblue"><%= teacherName%></font> 老师</li>
            <li><a href="/Thome">首页</a></li>
            <li><a href="/TstudentInfoAdmin">学生信息管理</a></li>
            <li><a href="/TgroupInfoAdmin">商户集团管理</a></li>
            <li><a href="/TcorpInfoAdmin" style="background-color:rgb(52, 152,219)">供应商管理</a></li>
            <li><a href="/TproductListAdmin">缴费项目管理</a></li>
            <li><a href="/TallOrdersAdmin">缴费订单管理</a></li>
            <li><a href="/TpaymentRecordsAdmin">缴费记录管理</a></li>
            <li><a href="/TstockListAdmin">供货管理</a></li>
            <li><a href="/TcoursePlansAdmin">教材计划管理</a></li>
            <li><a href="/TclearInfoAdmin">清算统计</a></li>
            <li><a href="/TscholarshipInfoAdmin">资金发放管理</a></li>
            <li><a href="/TloginOut"><img class="loginout_picture" src="images/home/Out.png" alt="图片加载失败">注销登录</a></li>
    </div>
    <div>
        <table class="teacher_mesage_table">
            <tr>
                <td class="mesage">
                    供应商管理<br>
                </td>
            </tr>
            <tr>
                <td><img class="line_picture" src="images/home/line.png" alt="图片加载失败">
                </td>
            </tr>
        </table>
        <form name="choiceForm">
            <table class="teacher_mesage_table" style="padding-bottom: 10px;font-size: small;" id="choices">
                <tr>
                    <td>
                        <font style="margin-left: 40px;">商户代码：</font>
                    </td>
                    <td><input type="text" class="manageInput" style="width: 80px;" name="corpID">
                    </td>
                    <td>
                        商户名称：</td>
                    <td><input type="text" class="manageInput" style="width: 80px;" id="corpName">
                    </td>
                    <td>
                        商户银行账号：</td>
                    <td><input type="text" class="manageInput" style="width: 140px;" id="corpBankNo">
                    </td>
                    <td>
                        对账联系人：</td>
                    <td><input type="text" class="manageInput" style="width: 80px;" id="corpPrincipal">
                    </td>
                    <td>
                        对账联系人电话：</td>
                    <td><input type="text" class="manageInput" style="width: 80px;" id="corpPrinPhone">
                    </td>
                </tr>
                <tr>
                    <td>
                        <font style="margin-left: 40px;">结算类型：</font>
                    </td>
                    <td><select name="corpSettleType" style="height: auto;width: 80px;" id="corpSettleType">
                            <option selected="selected" value="0"></option>
                            <option value="全款结算">全款结算</option>
                            <option value="分期结算">分期结算</option>
                        </select>
                    </td>
                    <td>
                        是否支持退货：
                    </td>
                    <td><select name="corpReturnGoods" style="height: auto;width: 80px;" id="corpReturnGoods">
                            <option selected="selected" value="0"></option>
                            <option value="是">是</option>
                            <option value="否">否</option>
                        </select>
                    </td>
                    <td>
                        商户类型：</td>
                    <td><input type="text" class="manageInput" style="width: 140px;" id="corpType">
                    </td>
                    <td>
                        集团编号：</td>
                    <td><input type="text" class="manageInput" style="width: 80px;" id="groupID">
                    </td>
                    <td>
                        启用状态：
                    </td>
                    <td><select name="corpOpenStatus" style="height: auto;width: 80px;" id="corpOpenStatus">
                            <option selected="selected" value="0"></option>
                            <option value="启用">启用</option>
                            <option value="禁用">禁用</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
        <table class="teacher_mesage_table" style="padding-bottom: 10px;">
            <tr>
                <td>
                    <button class="managementButton" style="width: 75px;margin-left: 40px;"
                        onclick="querycorpInfo()"><img class="teacher_picture" src="images/teacher/query.png"
                            alt="图片加载失败">查询</button>
                    <button class="managementButton" style="width: 75px;"
                        onclick="tableToExcel('OrderRecordTB', '供应商信息表', '供应商信息.xls')"><img class="teacher_picture"
                            src="images/teacher/putOut.png" alt="图片加载失败">导出</button>
                    <a id="dlink" style="display: none;"></a>
                    <button class="managementButton" style="width:130px;" onclick="showPOP()"><img
                            class="teacher_picture" src="images/teacher/add.png" alt="图片加载失败">新增供应商信息</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="coverLayer">
        <div id="pop" style="height: auto;">
            <table>
                <tr>
                    <td class="mesage" style="text-align: center;padding-left: 0px;">
                        新增供应商
                    </td>
                </tr>
                <tr>
                    <td>
                        ____________________________________________________
                    </td>
                </tr>
                <tr></tr>
            </table>
            <form action="/TcorpInfoAdmin?addCorp=true" name="add_corp" method="post">
                <div>
                    <table style="font-size: small;margin-top: 20px;margin-bottom: 10px;">
                        <tr>
                            <td class="words">商户名称：</td>
                            <td><input type="text" name="corp_name" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">商户银行账号：</td>
                            <td><input type="text" name="corp_bankNo" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">对账联系人：</td>
                            <td><input type="text" name="corp_principal" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">对账联系人电话：</td>
                            <td><input type="text" name="corp_prinPhone" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">对账联系人邮箱：</td>
                            <td><input type="text" name="corp_email" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">商户对账联系人备注：</td>
                            <td><input type="text" name="corp_prinRemark" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">结算类型：</td>
                            <td>
                                <select name="corp_settleType" style="height: 30px;width: 160px;">
                                    <option value="1">全款结算</option>
                                    <option value="2">分期结算</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td class="words">是否支持退货：</td>
                            <td>
                                <select name="corp_returnGoods" style="height: 30px;width: 160px;">
                                    <option value="否">否</option>
                                    <option value="是">是</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td class="words">商户类型：</td>
                            <td><input type="text" name="corp_type" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">集团编号：</td>
                            <td>
                                <select name="group_ID" style="height: 30px;width: 160px;">
                                    <option value="10000001">10000001</option>
                                    <option value="10000002">10000002</option>
                                    <option value="10000003">10000003</option>
                                    <option value="10000004">10000004</option>
                                    <option value="10000005">10000005</option>
                                    <option value="10000006">10000006</option>
                                    <option value="10000007">10000007</option>
                                    <option value="10000008">10000008</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td class="words">商户地址：</td>
                            <td><input type="text" name="corp_address" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">
                                启用状态:
                            </td>
                            <td>
                                <select name="open_status" style="height: 30px;width: 160px;">
                                    <option value="1">启用</option>
                                    <option value="0">禁用</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td><button class="managementButton"
                                    style="width:130px;border-radius: 5px;margin-top: 20px;"
                                    onclick="return addForm();">确定</button></td>
                            <td><button class="managementButton"
                                    style="width:130px;border-radius: 5px;margin-top: 20px;"
                                    onclick="return closePOP()">取消</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div id="tbDiv">
        <table class="order_table" id="OrderRecordTB" name="keyPassage" style="width: 85%;margin-left: 160px;">
            <thead>
                <tr>
                    <th style="width: 65px;">商户代码</th>
                    <th style="width: 75px;">商户名称</th>
                    <th style="width: 65px;">商户银行账号</th>
                    <th style="width: 60px;">对账联系人</th>
                    <th style="width: 60px;">对账联系人电话</th>
                    <th style="width: 65px;">对账联系人邮箱</th>
                    <th>商户对账联系人备注</th>
                    <th style="width: 70px;">结算类型</th>
                    <th style="width: 60px;">是否支持退货</th>
                    <th style="width: 60px;">商户类型</th>
                    <th style="width: 60px;">集团编号</th>
                    <th style="width: 180px;">商户地址</th>
                    <th style="width: 45px;">启用状态</th>
                    <th style="width: 110px;">修改启用状态</th>
                </tr>
            </thead>
            <tbody id="corpTBody">
                <% for(var i = 0; i < result.length; i++){ %>
                <tr>
                    <td><%= result[i].商户代码 %></td>
                    <td><%= result[i].商户名称 %></td>
                    <td><%= result[i].商户银行账号 %></td>
                    <td><%= result[i].商户对账联系人 %></td>
                    <td><%= result[i].商户对账联系人电话 %></td>
                    <td><%= result[i].商户对账联系人邮箱 %></td>
                    <td><%= result[i].商户对账联系人备注 %></td>
                    <% if(result[i].结算类型 == 1 ){ %>
                    <td>全款结算</td>
                    <% }else if(result[i].结算类型 == 2 ){ %>
                    <td>分期结算</td>
                    <% } %>

                    <td><%= result[i].是否支持退货 %></td>
                    <td><%= result[i].商户类型 %></td>
                    <td><%= result[i].集团编号 %></td>
                    <td><%= result[i].商户地址 %></td>

                    <% if(result[i].状态 == 1 ){ %>
                    <td>启用</td>
                    <% }else{ %>
                    <td>禁用</td>
                    <% } %>

                    <% if(result[i].状态 == 1 ){ %>
                    <td><button class="deleteOrderRecord" style="width: 75px;"
                            onclick="changeCorpOpenStatus('<%= result[i].商户代码 %>','<%= result[i].状态 %>')">设为禁用</button>
                    </td>
                    <% }else{ %>
                    <td><button class="gotoPayButton" style="width: 75px;"
                            onclick="changeCorpOpenStatus('<%= result[i].商户代码 %>','<%= result[i].状态 %>')">设为启用</button>
                    </td>
                    <% } %>

                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <footer>
        <div id="lsx">
            版权所有-©苏州大学数学科学学院校级大创项目组 2020
        </div>
    </footer>

</body>

</html>