<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商户集团管理页</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="javascripts/down&upData.js"></script>
    <script src="javascripts/TgroupInfoAdmin.js"></script>
</head>

<body>
    <div class="col-12">
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div>
        <ul class="Tnav">
            <li class="teaname">
                欢迎您：<font color="lightblue"><%= teacherName%></font> 老师</li>
            <li><a href="/Thome">首页</a></li>
            <li><a href="/TstudentInfoAdmin">学生信息管理</a></li>
            <li><a href="/TgroupInfoAdmin" style="background-color:rgb(52, 152,219)">商户集团管理</a></li>
            <li><a href="/TcorpInfoAdmin">供应商管理</a></li>
            <li><a href="/TproductListAdmin">缴费项目管理</a></li>
            <li><a href="/TallOrdersAdmin">缴费订单管理</a></li>
            <li><a href="/TpaymentRecordsAdmin">缴费记录管理</a></li>
            <li><a href="/TstockListAdmin">供货管理</a></li>
            <li><a href="/TcoursePlansAdmin">教材计划管理</a></li>
            <li><a href="/TclearInfoAdmin">清算统计</a></li>
            <li><a href="/TscholarshipInfoAdmin">资金发放管理</a></li>
            <li><a href="/TloginOut"><img class="loginout_picture" src="images/home/Out.png" alt="图片加载失败">注销登录</a></li>
    </div>
    <div>
        <table class="teacher_mesage_table">
            <tr>
                <td class="mesage">
                    商户集团管理<br>
                </td>
            </tr>
            <tr>
                <td><img class="line_picture" src="images/home/line.png" alt="图片加载失败">
                </td>
            </tr>
        </table>
        <form action="/TgroupInfoAdmin?querySiftGroupInfo=true" name="choiceForm" method="post">
            <table class="teacher_mesage_table" style="padding-bottom: 10px;" id="choices">
                <tr>
                    <td style="font-size: small;">
                        <font style="margin-left: 40px;">集团编号：</font>
                        <input type="text" class="manageInput" style="width: 80px;" name="groupID">
                        集团名称：<input type="text" class="manageInput" style="width: 140px;" name="groupName">
                        启用状态：
                        <select name="groupOpenStatus" style="height: auto;width: 80px;" id="groupOpenStatus">
                            <option selected="selected" value="0"></option>
                            <option value="启用">启用</option>
                            <option value="禁用">禁用</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
        <table class="teacher_mesage_table" style="padding-bottom: 10px;">
            <tr>
                <td>
                    <button class="managementButton" style="width: 75px;margin-left: 40px;"
                        onclick="siftGroupInfo()"><img class="teacher_picture" src="images/teacher/query.png"
                            alt="图片加载失败">查询</button>
                    <button class="managementButton" style="width: 75px;"
                        onclick="tableToExcel('OrderRecordTB', '商户集团信息表', '商户集团信息.xls')"><img class="teacher_picture"
                            src="images/teacher/putOut.png" alt="图片加载失败">导出</button>
                    <a id="dlink" style="display: none;"></a>

                    <button class="managementButton" style="width:140px;" onclick="showPOP()"><img
                            class="teacher_picture" src="images/teacher/add.png" alt="图片加载失败">新增商户集团信息</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="coverLayer">
        <div id="pop" style="height: auto;">
            <table>
                <tr>
                    <td class="mesage" style="text-align: center;padding-left: 0px;">
                        新增商户集团
                    </td>
                </tr>
                <tr>
                    <td>
                        ____________________________________________________
                    </td>
                </tr>
                <tr></tr>
            </table>
            <form class="add_group" action="/TgroupInfoAdmin?addGroup=true" name="add_group" method="post">
                <div>
                    <table style="font-size: small;margin-top: 20px;margin-bottom: 10px;">
                        <tr>
                            <td class="words">集团名称:</td>
                            <td><input type="text" name="group_name" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">备注：</td>
                            <td><input type="text" name="group_remark" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">
                                启用状态:
                            </td>
                            <td>
                                <select name="open_status" style="height: 30px;width: 160px;">
                                    <option value="启用">启用</option>
                                    <option value="禁用">禁用</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td><button class="managementButton"
                                    style="width:130px;border-radius: 5px;margin-top: 20px;"
                                    onclick="return addForm();">确定</button></td>
                            <td><button class="managementButton"
                                    style="width:130px;border-radius: 5px;margin-top: 20px;"
                                    onclick="return closePOP()">取消</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div id="tbDiv">
        <table class="order_table" id="OrderRecordTB" name="keyPassage" style="width: 85%;margin-left: 160px;">
            <thead>
                <tr>
                    <th style="width: 65px;">集团编号</th>
                    <th style="width: 75px;">集团名称</th>
                    <th style="width: 65px;">备注</th>
                    <th style="width: 95px;">启用状态</th>
                    <th style="width: 130px;">修改启用状态</th>
                </tr>
            </thead>
            <tbody id="groupTBody">
                <% for(var i = 0; i < result.length; i++){ %>
                <tr>
                    <td><%= result[i].集团编号 %></td>
                    <td><%= result[i].集团名称 %></td>
                    <td><%= result[i].备注 %></td>
                    <% if(result[i].状态 == 1 ){ %>
                    <td>启用</td>
                    <% }else{ %>
                    <td>禁用</td>
                    <% } %>

                    <% if(result[i].状态 == 1 ){ %>
                    <td><button class="deleteOrderRecord" style="width: 75px;"
                            onclick="changeGroupOpenStatus('<%= result[i].集团编号 %>','<%= result[i].状态 %>')">设为禁用</button></td>
                    <% }else{ %>
                    <td><button class="gotoPayButton" style="width: 75px;"
                            onclick="changeGroupOpenStatus('<%= result[i].集团编号 %>','<%= result[i].状态 %>')">设为启用</button></td>
                    <% } %>

                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <footer>
        <div id="lsx">
            版权所有-©苏州大学数学科学学院校级大创项目组 2020
        </div>
    </footer>

</body>

</html>