<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>缴费项目管理页</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="javascripts/down&upData.js"></script>
    <script src="javascripts/TproductListAdmin.js"></script>
</head>

<body>
    <div class="col-12">
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div>
        <ul class="Tnav">
            <li class="teaname">
                欢迎您：<font color="lightblue"><%= teacherName%></font> 老师</li>
            <li><a href="/Thome">首页</a></li>
            <li><a href="/TstudentInfoAdmin">学生信息管理</a></li>
            <li><a href="/TgroupInfoAdmin">商户集团管理</a></li>
            <li><a href="/TcorpInfoAdmin">供应商管理</a></li>
            <li><a href="/TproductListAdmin" style="background-color:rgb(52, 152,219)">缴费项目管理</a></li>
            <li><a href="/TallOrdersAdmin">缴费订单管理</a></li>
            <li><a href="/TpaymentRecordsAdmin">缴费记录管理</a></li>
            <li><a href="/TstockListAdmin">供货管理</a></li>
            <li><a href="/TcoursePlansAdmin">教材计划管理</a></li>
            <li><a href="/TclearInfoAdmin">清算统计</a></li>
            <li><a href="/TscholarshipInfoAdmin">资金发放管理</a></li>
            <li><a href="/TloginOut"><img class="loginout_picture" src="images/home/Out.png" alt="图片加载失败">注销登录</a></li>
    </div>
    <div>
        <table class="teacher_mesage_table">
            <tr>
                <td class="mesage">
                    缴费项目管理<br>
                </td>
            </tr>
            <tr>
                <td><img class="line_picture" src="images/home/line.png" alt="图片加载失败">
                </td>
            </tr>
        </table>
        <form action="/TproductListAdmin?querySiftProductListInfo=true" name="choiceForm" method="post">
            <table class="teacher_mesage_table" style="padding-bottom: 10px;" id="choices">
                <tr>
                    <td style="font-size: small;">
                        <font style="margin-left: 40px;">商品编号：</font>
                        <input type="text" class="manageInput" style="width: 80px;" name="productID">
                        商品名称：<input type="text" class="manageInput" style="width: 140px;" name="productName">
                        商户代码：<input type="text" class="manageInput" style="width: 140px;" name="corpID">
                        上架状态：
                        <select name="productOpenStatus" style="height: auto;width: 80px;" id="productOpenStatus">
                            <option selected="selected" value="0"></option>
                            <option value="上架">上架</option>
                            <option value="下架">下架</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
        <table class="teacher_mesage_table" style="padding-bottom: 10px;">
            <tr>
                <td>
                    <button class="managementButton" style="width: 75px;margin-left: 40px;"
                        onclick="siftProductList()"><img class="teacher_picture" src="images/teacher/query.png"
                            alt="图片加载失败">查询</button>
                    <button class="managementButton" style="width: 75px;"
                        onclick="tableToExcel('OrderRecordTB', '缴费项目信息表', '缴费项目信息.xls')"><img class="teacher_picture"
                            src="images/teacher/putOut.png" alt="图片加载失败">导出</button>
                    <a id="dlink" style="display: none;"></a>

                    <button class="managementButton" style="width:130px;" onclick="showPOP()"><img
                            class="teacher_picture" src="images/teacher/putIn.png" alt="图片加载失败">从Excel文件导入</button>
                    <button class="managementButton" style="width:130px;"
                        onclick="location.href = '/TproductListAdmin?down=excelTemplate'"><img class="teacher_picture"
                            src="images/teacher/downLoad.png" alt="图片加载失败">下载Excel模板</button>
                    <button class="managementButton" style="width:130px;" onclick="showPOP_addProduct()"><img
                            class="teacher_picture" src="images/teacher/add.png" alt="图片加载失败">新增缴费项目</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="coverLayer">
        <div id="pop">
            <table>
                <tr>
                    <td class="mesage" style="text-align: center;padding-left: 0px;">
                        上传缴费项目信息
                    </td>
                </tr>
                <tr>
                    <td>
                        ____________________________________________________
                    </td>
                </tr>
                <tr></tr>
            </table>
            <table style="margin-top: 20px;">
                <tr>
                    <td>
                        <form action="/TproductListAdmin?fileUpload=true" method="post" enctype="multipart/form-data"
                            style="display: inline" name="fileUpload" id="fileUpload">
                            <input type="file" name="productListUpLoad"><br><br>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td><button class="managementButton" style="width:130px;border-radius: 5px;"
                            onclick="LimitAttach(fileUpload,fileUpload.productListUpLoad.value);">确定</button></td>
                    <td><button class="managementButton" style="width:130px;border-radius: 5px;"
                            onclick="closePOP()">取消</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="coverLayer_addProduct">
        <div id="pop" style="height: auto;">
            <table>
                <tr>
                    <td class="mesage" style="text-align: center;padding-left: 0px;">
                        新增缴费项目
                    </td>
                </tr>
                <tr>
                    <td>
                        ____________________________________________________
                    </td>
                </tr>
                <tr></tr>
            </table>
            <form action="/TproductListAdmin?addProduct=true" name="add_product" method="post">
                <div>
                    <table style="font-size: small;margin-top: 20px;margin-bottom: 10px;">
                        <tr>
                            <td class="words">商品名称：</td>
                            <td><input type="text" name="product_name" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">商品单价：</td>
                            <td><input type="text" name="product_price" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">商户名称：</td>
                            <td>
                                <select name="product_corpID" style="height: 30px;width: 160px;">
                                    <option value="A00001">明光牛奶</option>
                                    <option value="A00002">美琳服饰</option>
                                    <option value="A00003">齐彤电力</option>
                                    <option value="A00004">东吴物业</option>
                                    <option value="A00005">江苏水厂</option>
                                    <option value="A00006">本校教材教务中心</option>
                                    <option value="A00007">校团委委员会</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td class="words">商品状态：</td>
                            <td>
                                <select name="product_openStatus" style="height: 30px;width: 160px;">
                                    <option value="1">上架</option>
                                    <option value="0">下架</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td class="words">属性1：</td>
                            <td><input type="text" name="product_attri1st" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">属性2：</td>
                            <td><input type="text" name="product_attri2nd" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">属性3：</td>
                            <td><input type="text" name="product_attri3rd" style="width: 160px;"><br></td>
                        </tr>
                        <tr>
                            <td class="words">备注：</td>
                            <td><input type="text" name="product_remark" style="width: 160px;"><br></td>
                        </tr>
                        
                        <tr>
                            <td><button class="managementButton"
                                    style="width:130px;border-radius: 5px;margin-top: 20px;"
                                    onclick="return addForm_addProduct();">确定</button></td>
                            <td><button class="managementButton"
                                    style="width:130px;border-radius: 5px;margin-top: 20px;"
                                    onclick="return closePOP_addProduct()">取消</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div id="tbDiv">
        <table class="order_table" id="OrderRecordTB" name="keyPassage" style="width: 85%;margin-left: 160px;">
            <thead>
                <tr>
                    <th style="width: 65px;">商品编号</th>
                    <th style="width: 75px;">商品名称</th>
                    <th style="width: 65px;">商品单价</th>
                    <th style="width: 95px;">商户代码</th>
                    <th style="width: 60px;">商品状态</th>
                    <th style="width: 65px;">属性1</th>
                    <th style="width: 75px;">属性2</th>
                    <th style="width: 65px;">属性3</th>
                    <th style="width: 65px;">备注</th>
                    <th style="width: 130px;">修改商品状态</th>
                </tr>
            </thead>
            <tbody id="productTBody">
                <% for(var i = 0; i < result.length; i++){ %>
                <tr>
                    <td><%= result[i].商品编号 %></td>
                    <td><%= result[i].商品名称 %></td>
                    <td><%= result[i].商品单价 %></td>
                    <td><%= result[i].商户代码 %></td>
                    <% if(result[i].商品状态 == 1 ){ %>
                    <td>上架</td>
                    <% }else{ %>
                    <td>下架</td>
                    <% } %>
                    <td><%= result[i].属性1 %></td>
                    <td><%= result[i].属性2 %></td>
                    <td><%= result[i].属性3 %></td>
                    <td><%= result[i].备注 %></td>
                    <% if(result[i].商品状态 == 1 ){ %>
                    <td><button class="deleteOrderRecord" style="width: 75px;" onclick="changeOpenStatus('<%= result[i].商品编号 %>','<%= result[i].商品状态 %>')">设为下架</button></td>
                    <% }else{ %>
                    <td><button class="gotoPayButton" style="width: 75px;" onclick="changeOpenStatus('<%= result[i].商品编号 %>','<%= result[i].商品状态 %>')">设为上架</button></td>
                    <% } %>

                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div id="dtop" name="dtop" style="display: inline;">
        <a href="javascript:;" style="display:inline;">
            <img src="images/teacher/btop.png" title="返回顶部" style="width: 40px;" id="a_top" />
        </a>
    </div>
    <div id="dbottom" name="dbottom">
        <a href="javascript:;">
            <img src="images/teacher/bbottom.png" title="返回底部" style="width: 40px;" id="a_bottom" />
        </a>
    </div>
    <footer>
        <div id="lsx">
            版权所有-©苏州大学数学科学学院校级大创项目组 2020
        </div>
    </footer>

</body>

</html>
<script>
    // 原生js实现
    let dtop = document.getElementsByTagName("dtop")[0];
    let myTimer = null;
    //页面监听scroll事件，当发生scroll事件时就进行判断，是否需要让a标签显示    
    window.addEventListener("scroll", function () {

        //获取scroll的滚动值    
        let scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
        // console.log(scrollTop);
        document.getElementById("dtop").style.display = 'block';
        document.getElementById("dbottom").style.display = 'block';
        if (scrollTop < 180) {//在顶部
            document.getElementById("dtop").style.display = 'none';
            document.getElementById("dbottom").style.display = 'block';
        }
    });
    $("#a_top").click(function () {
        $("html,body").animate({ scrollTop: "0px" }, 500);//500毫秒完成回到顶部动画    
        return false;
    });

    $("#a_bottom").click(function () {
        $("html,body").animate({ scrollTop: document.getElementsByTagName('body')[0].scrollHeight }, 500);//500毫秒完成回到顶部动画    
        return false;
    });
</script>